In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
#import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
#import datetime
import streamlit as st
from PIL import Image

In [4]:
# import BPs
p_data = 'BP_Log.csv'
p_img = 'BP_ranges.png'


<img src='BP_ranges.png'>

In [6]:
df = pd.read_csv(p_data)
df = df[~df['BP1'].isna()]
df

           Date        DoW          BP1          BP2           BP3
0    2023-04-08   Saturday  121/84 - 66  124/86 - 62   127/84 - 63
1    2023-04-09     Sunday  123/80 - 58  131/86 - 58   126/85 - 56
2    2023-04-10     Monday  133/85 - 59  127/85 - 59  130/88  - 59
3    2023-04-11    Tuesday  130/88 - 67  127/85 - 64  132/86  - 65
4    2023-04-12  Wednesday  122/81 - 69  122/82 - 68   127/86 - 64
..          ...        ...          ...          ...           ...
129  2023-08-15    Tuesday  150/97 - 62  147/95 - 56   140/97 - 60
130  2023-08-16  Wednesday  138/92 - 72  138/95 - 75   140/95 - 74
131  2023-08-17   Thursday  135/93 - 73  142/92 - 73   139/96 - 75
132  2023-08-18     Friday  137/92 - 70  140/92 - 71   141/96 - 73
133  2023-08-19   Saturday  138/93 - 68  146/95 - 68   149/96 - 70

[134 rows x 5 columns]

In [7]:
df['sys1'] = pd.DataFrame(df['BP1'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['sys'].astype('float64')
df['sys2'] = pd.DataFrame(df['BP2'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['sys'].astype('float64')
df['sys3'] = pd.DataFrame(df['BP3'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['sys'].astype('float64')
df['mn_sys'] = (df['sys1'] + df['sys2'] + df['sys3']) / 3

dia1tmp = pd.DataFrame(df['BP1'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['delme'].str.split('-').to_list()
df['di1'] = pd.DataFrame(dia1tmp)[0].astype('float64')
dia2tmp = pd.DataFrame(df['BP2'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['delme'].str.split('-').to_list()
df['di2'] = pd.DataFrame(dia2tmp)[0].astype('float64')
dia3tmp = pd.DataFrame(df['BP3'].str.split(
    '/').to_list(), columns=['sys', 'delme'])['delme'].str.split('-').to_list()
df['di3'] = pd.DataFrame(dia3tmp)[0].astype('float64')

df['mn_di'] = (df['di1'] + df['di2'] + df['di3']) / 3


df['mn_cat'] = np.where((df['mn_sys'] > 180) | (df['mn_di'] > 120), 'Crisis',
                        np.where((df['mn_sys'] >= 140) | (df['mn_di'] >= 90), 'Stage 2',
                        np.where((df['mn_sys'] >= 130) | (df['mn_di'] >= 80), 'Stage 1',
                                 np.where((df['mn_sys'] >= 120) & (df['mn_di'] < 80), 'Elevated',
                                 np.where((df['mn_sys'] < 120) & (df['mn_di'] < 80), 'Normal', 'ERROR')))))

df['BP1_cat'] = np.where((df['sys1'] > 180) | (df['di1'] > 120), 'Crisis',
                         np.where((df['sys1'] >= 140) | (df['di1'] >= 90), 'Stage 2',
                                  np.where((df['sys1'] >= 130) | (df['di1'] >= 80), 'Stage 1',
                                           np.where((df['sys1'] >= 120) & (df['di1'] < 80), 'Elevated',
                                                    np.where((df['sys1'] < 120) & (df['di1'] < 80), 'Normal', 'ERROR')))))

df['BP2_cat'] = np.where((df['sys2'] > 180) | (df['di2'] > 120), 'Crisis',
                         np.where((df['sys2'] >= 140) | (df['di2'] >= 90), 'Stage 2',
                                  np.where((df['sys2'] >= 130) | (df['di2'] >= 80), 'Stage 1',
                                           np.where((df['sys2'] >= 120) & (df['di2'] < 80), 'Elevated',
                                                    np.where((df['sys2'] < 120) & (df['di2'] < 80), 'Normal', 'ERROR')))))

df['BP3_cat'] = np.where((df['sys3'] > 180) | (df['di3'] > 120), 'Crisis',
                         np.where((df['sys3'] >= 140) | (df['di3'] >= 90), 'Stage 2',
                                  np.where((df['sys3'] >= 130) | (df['di3'] >= 80), 'Stage 1',
                                           np.where((df['sys3'] >= 120) & (df['di3'] < 80), 'Elevated',
                                                    np.where((df['sys3'] < 120) & (df['di3'] < 80), 'Normal', 'ERROR')))))


df['mn_cdn'] = np.where((df['mn_sys'] >= 135) | (df['mn_di'] >= 85), 'High Risk',
                        np.where((df['mn_sys'] >= 121) | (df['mn_di'] > 80), 'Medium Risk', 'Normal'))

df['BP1_cdn'] = np.where((df['sys1'] >= 135) | (df['di1'] >= 85), 'High Risk',
                         np.where((df['sys1'] >= 121) | (df['di1'] > 80), 'Medium Risk', 'Normal'))

df['BP2_cdn'] = np.where((df['sys2'] >= 135) | (df['di2'] >= 85), 'High Risk',
                         np.where((df['sys2'] >= 121) | (df['di2'] > 80), 'Medium Risk', 'Normal'))

df['BP3_cdn'] = np.where((df['sys3'] >= 135) | (df['di3'] >= 85), 'High Risk',
                         np.where((df['sys3'] >= 121) | (df['di3'] > 80), 'Medium Risk', 'Normal'))


# df = df[['Date', 'DoW', 'sys1', 'di1', 'sys2', 'di2', 'sys3', 'di3', 'mn_sys', 'mn_di', 'mn_cat', 'BP1_cat', 'BP2_cat', 'BP3_cat','mn_cdn', 'BP1_cdn', 'BP2_cdn', 'BP3_cdn']]


s1 = df[['Date', 'sys1', 'di1', 'BP1_cat']]
s2 = df[['Date', 'sys2', 'di2', 'BP2_cat']]
s3 = df[['Date', 'sys3', 'di3', 'BP3_cat']]

s1.columns = ['Date', 'Systolic', 'Diastolic', 'Category']
s2.columns = ['Date', 'Systolic', 'Diastolic', 'Category']
s3.columns = ['Date', 'Systolic', 'Diastolic', 'Category']

bp_series = pd.concat([s1, s2, s3], axis=0)
# bp_series.columns = ['Date', 'Systolic', 'Diastolic', 'Category']


lst_date = pd.to_datetime(bp_series['Date'].max())
thirty_days_ago = lst_date - pd.to_timedelta(30, unit='d')

thirty_day = bp_series[pd.to_datetime(
    bp_series['Date']) > (pd.to_datetime(thirty_days_ago))]
thirty_med_sys = thirty_day['Systolic'].median()
thirty_med_di = thirty_day['Diastolic'].median()
thirty_avg_sys = thirty_day['Systolic'].mean()
thirty_avg_di = thirty_day['Diastolic'].mean()


prior_thirty = lst_date - pd.to_timedelta(30, unit='d')
prior_sixty = lst_date - pd.to_timedelta(60, unit='d')
prior = bp_series[(pd.to_datetime(bp_series['Date']) > prior_sixty) & (
    pd.to_datetime(bp_series['Date']) <= prior_thirty)]

prior_med_sys = prior['Systolic'].median()
prior_med_di = prior['Diastolic'].median()
prior_avg_sys = prior['Systolic'].mean()
prior_avg_di = prior['Diastolic'].mean()